<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogPath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\Dir"/>
		<add key="LogMovePath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\Move"/>
		<add key="ImagePath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\Image"/>
		<add key="VerifyPath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\Verify"/>
		<add key="SerializeDataPath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\SerializeData"/>
		<add key="CurrentXMLPath" value="D:\Project\Dotnet\C#\06-IO和序列化\bin\Debug\net6.0\IO\CurrentXML"/>
	</appSettings>
</configuration>